body {
	height: 2000px;
}

div {
	margin: auto;
}

.container {
	width: 600px;
	height: 650px;
	border: 10px solid green;
}

.satu {
	width: 200px;
	height: 200px;
	background-color: indianred;
}

.dua {
	width: 100%;
	height: 40px;
	background-color: lawngreen;
/*	mengatur posisi fixed (relative 
	thdp window browser), top/left/bottom/right*/
/*	fixed = sticky*/
	position: fixed;
	left: 0px;
	top: 0px;
}

.tiga {
	width: 200px;
	height: 200px;
	background-color: cadetblue;
}